@mixin horizontal($display, $justify) {
  display: $display;
  justify-content: $justify;
}

@mixin button-style ($color, $backcolor) {
  border: none;
  color: $color;
  background-color: $backcolor;
}

@mixin botton-hover {
  &:hover {
      background-color: white;
      color: black;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
  }
}


.header {
height: 50px;
display: flex;
position: sticky;
align-items: center;
background-color:#f7e600;
z-index: 100;
top: 0;
width: 100%;
padding: 0 16px;
justify-content: space-between;
}

.logo {
  color: rgb(58, 95, 58);
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}


.header_option {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.header-links {
  color:rgb(58, 95, 58);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.header-links:hover{
  border: 1px solid #1a8a24;
}


.fa-code {
  margin-left: 1rem;
}


// @media screen and (max-widht: 960px) {
//   .header_option {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     border-top: 1px solid #fff;
//     position: absolute;
//     top: 80px;
//     opacity: 0;
//   }
// }

.nav-icon {
  display: black;
  position: absolute;
  top: -20px;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}


.footer {
  position: fixed;
  bottom: 0; left: 0;
  height: 100px;
  width: 100%;
  background-color: #cac8a8;
    
}

.contents {
  width: 96%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  position: center;
  font-weight: 600;
  font-size: 20px;
}

.main1 {
  width: 2000px;
  height: 700px;
  top: -250px;
  left: -244px;
}


